## CODING ETIQUETE
1. Importing libraries and Define Path & Import dataframes
2. Looking out for Personally Identifiable Information (PII)
3. Developing regions 
4. Creating an exclusion flag 
5. Creating a profiling of the variables
6. Creating the Visualizations
7. Creating customer-level profiles
8. Aggregate max, mean, min variables on a customer-profile leves 
9. Comparing customer profiles with regions and departments

## IMPORTING LIBRARIES

In [3]:
#Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [4]:
#importing the newly merged updated data set
path = r'/Users/frankamoboateng/Downloads/18.07.23 instacart Basket Analysis'

In [5]:
#importing the updated merged data
df_all = pd.read_pickle(os.path.join(path,'02. DATA','PREPARED DATA','orders_products_all_aggregated.pkl'))

# LOOKING OUT FOR PII INFORMATION

In [6]:
#Display all columns to look for PII
df_all.head()

,user_id,First Name,Surname,gender,State,Age,date_joined,number_of_dependants,marital_status,income,...,add_to_cart_order,reordered,busiest_day,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days,frequency_flag
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,2,0,Busiest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,1,1,Regularly busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,2,1,Busiest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,1,0,Regularly busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,2,1,Slowest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer

ONLY NAMES CAN BE RELEVANT TO THIS CONSIDERATION BUT EVEN THAT ARE NOT UNIQUE. NEVERTHEESS, SENIOR ANALYSTS WOULD BE INFORMED AND NECESSARY STEPS TAKEN, SHOULD THEY BE DROPPED

In [7]:
#Drop the first_name column
df_all = df_all.drop(columns = ['First Name'])

In [8]:
#Drop the last_name column
df_all = df_all.drop(columns = ['Surname'])

In [9]:
#Check the output
df_all.head()

,user_id,gender,State,Age,date_joined,number_of_dependants,marital_status,income,Unnamed: 0,Unnamed: 0_x,...,add_to_cart_order,reordered,busiest_day,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days,frequency_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,108040,195,...,2,0,Busiest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,108041,195,...,1,1,Regularly busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,108042,195,...,2,1,Busiest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,3627911,6184,...,1,0,Regularly busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,3627912,6184,...,2,1,Slowest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer

## DEVELOPING THE REGIONS

In [10]:
#Regions created to categorize the states
Notheast = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']
Midwest = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
South = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']
West = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

In [11]:
#Designing a flag system to identify the region of each purchase.
df_all.loc[df_all['State'].isin(Notheast), 'Region'] = 'Northeast'
df_all.loc[df_all['State'].isin(Midwest), 'Region'] = 'Midwest'
df_all.loc[df_all['State'].isin(South), 'Region'] = 'South'
df_all.loc[df_all['State'].isin(West), 'Region'] = 'West'

In [12]:
#checking the output
df_all['Region'].value_counts(dropna = False)

South        10208094
West          7838932
Midwest       7183053
Northeast     5427268
Name: Region, dtype: int64

In [13]:
df_all.shape

(30657347, 34)

## All regions summed up equals to the total rows of the data set

In [14]:
#Create a crosstab between regions and spending flag
crosstab = pd.crosstab(df_all['Region'], df_all['spending_flag'], dropna=False)

In [15]:
crosstab

spending_flag  High spender  Low spender
Region
Midwest              149962      7033091
Northeast            101535      5325733
South                197010     10011084
West                 148255      7690677

In [16]:
#for efficiency
df_all.to_pickle(os.path.join(path,'02. DATA','PREPARED DATA','df_all_1.pkl'))

In [17]:
#importing back
df_all_1 = pd.read_pickle(os.path.join(path,'02. DATA','PREPARED DATA','df_all_1.pkl'))

## CREATING AN EXCLUSION FLAG

## THIS WOULD BE DONE FOR CUSTOMERS WHO DONT GENERATE INCOME AND NOT MUCH RELEVANT TO INSTACART

In [18]:
#Create an exclusion flag for low-activity customers based on max_order column
df_all_1.loc[df_all_1['max_order'] <= 5, 'activity_loc'] = 'low activity customer'

In [19]:
#Utilize the exclusion flag to identify the high-activity customers
df_all_1.loc[df_all_1['max_order'] >5, 'activity_loc'] = 'high activity customer'

In [20]:
#Review output
df_all_1['activity_loc'].value_counts(dropna=False)

high activity customer    28547421
low activity customer      2109926
Name: activity_loc, dtype: int64

In [21]:
#Create dataframe of only low activity customers
df_low_activity=df_all_1[df_all_1['activity_loc'] == 'low activity customer']

In [22]:
#Validate the created df
df_low_activity.shape

(2109926, 35)

In [23]:
#Validating the max order columns 
df_low_activity['max_order'].max()

5

In [24]:
#Exporting low activity dataframe
df_low_activity.to_pickle(os.path.join(path,'02. DATA','PREPARED DATA','low_activity_customers.pkl'))

In [25]:
#Exclude low activity customers from dataframe
df_all_2 = df_all_1[df_all_1['activity_loc'] == 'high activity customer']

In [26]:
#Validate the created df (should have 30171424 rows)
df_all_2.shape

(28547421, 35)

In [27]:
#Validate the min order in max_order column is 6
df_all_2['max_order'].min()

6

## Creating profiling variable; include age, income, department_id, dependants

In [ ]:
#importing back
df_all_2 = pd.read_pickle(os.path.join(path,'02. DATA','PREPARED DATA','df_all_2.pkl'))