# 4.6 Merging and exporting data

In [16]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [8]:
#importing the combined data
path = r'/Users/frankamoboateng/Downloads/18.07.23 instacart Basket Analysis'

In [9]:
path

'/Users/frankamoboateng/Downloads/18.07.23 instacart Basket Analysis'

In [17]:
#lets first import the products checked csv 
df_prods = pd.read_csv(os.path.join(path,'02. DATA','PREPARED DATA','products.checked.csv'), 
                               index_col = False)

In [42]:
#lets then import the order_product_combined
df_ords_prods_combined = pd.read_csv(os.path.join(path,'02. DATA','PREPARED DATA','orders_products_combined.csv'), 
                               index_col = False)

## merging the orders_products_checked and the products data sets using the product_id

In [20]:
df_prods.shape

(49693, 6)

In [21]:
df_ords_prods_combined.shape

(32434489, 13)

In [23]:
#merging the datasets

In [30]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [37]:
df_ords_prods_combined.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,0,2539329,1,1,2,8,1.0,196,1,0,both
1,1,0,0,2539329,1,1,2,8,1.0,14084,2,0,both
2,2,0,0,2539329,1,1,2,8,1.0,12427,3,0,both
3,3,0,0,2539329,1,1,2,8,1.0,26088,4,0,both
4,4,0,0,2539329,1,1,2,8,1.0,26405,5,0,both

In [47]:
#merging the datasets
df_merged_large = df_prods.merge(df_ords_prods_combined, on = 'product_id')

In [48]:
#merge flag frequency 
df_merged_large['_merge'].value_counts()

both    32434212
Name: _merge, dtype: int64

## Exporting the data sets as orders_products_merged as pkl format

In [49]:
#exporting as plk for efficiency sake
df_merged_large.to_pickle(os.path.join(path,'02. DATA','PREPARED DATA','orders_products_merged.pkl'))

In [50]:
#exporting as csv
df_merged_large.to_csv(os.path.join(path,'02. DATA','PREPARED DATA','orders_products_merged.csv'))