# 4.6 Merging and exporting data

## This script contains the following points:
1. Merge data

In [9]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [10]:
#importing new data frame called orders_products_prio
path = r'/Users/frankamoboateng/Downloads/18.07.23 instacart Basket Analysis'

In [4]:
path

'/Users/frankamoboateng/Downloads/18.07.23 instacart Basket Analysis'

In [13]:
#importing order_products_prior csv file
df_ords_prior = pd.read_csv(os.path.join(path,'02. DATA','ORIGINAL DATA','order_products_prior.csv'), index_col = False)

In [14]:
#checking the output of the imported data frame
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## from the output we notice that there is a product_id, and an order id. order id is found in the order data frame making it unique for a merge

In [15]:
#lets check the shape of the new dataframe to confirm the size
df_ords_prior.shape

(32434489, 4)

In [20]:
#lets import the order csv and the products csv files here. importing df_prods_checked
df_prods_checked = pd.read_csv(os.path.join(path,'02. DATA','PREPARED DATA','products.checked.csv'), 
                               index_col = False)

In [21]:
df_prods_checked.shape

(49693, 6)

In [46]:
#importing df_orders_checked csv
df_ords = pd.read_csv(os.path.join(path,'02. DATA','PREPARED DATA','orders.checked.csv'), 
                               index_col = False)

In [54]:
df_ords.shape

(3421083, 8)

In [55]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,1.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

## Merging the datasets using the common column: order_id

In [50]:
#merging the datasets
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator=True)

In [51]:
df_merged_large

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,1.0,196,1,0,both
1,0,0,2539329,1,1,2,8,1.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,1.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,1.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,1.0,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,3421081,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,3421081,3421081,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,3421081,3421081,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,3421081,3421081,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,3421081,3421081,2977660,206209,13,1,12,7.0,22920,9,0,both

In [56]:
#running frequency tables 
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [57]:
df_merged_large.shape

(32434489, 12)

In [58]:
#checking for the real merged data 
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

## exporting the merged data file as pkl for more efficiency

In [59]:
#exporting the merged data as csv 
df_merged_large.to_csv(os.path.join(path,'02. DATA','PREPARED DATA','orders_products_combined.csv'))

In [61]:
#exporting the merged data as pkl
df_merged_large.to_pickle(os.path.join(path,'02. DATA','PREPARED DATA','orders_products_combined.pkl'))