# 4.9.1 DATA WRANGLING

## This script contains the following points:
1. Data consistency checks
2. Data merging

In [1]:
## Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#importing the new customer data set
path = r'/Users/frankamoboateng/Downloads/18.07.23 instacart Basket Analysis'

In [3]:
df_customer = pd.read_csv(os.path.join(path,'02. DATA','ORIGINAL DATA','customers.csv'), index_col = False)

In [4]:
df_customer

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...,...,...
206204,168073,Lisa,Case,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Jeremy,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Doris,Richmond,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Rose,Rollins,Female,California,27,4/1/2020,1,married,99799
206208,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095

In [5]:
#importing the updated merged data
df_ords_prods_merged = pd.read_pickle(os.path.join(path,'02. DATA','PREPARED DATA','orders_products_aggregated.pkl'))

KeyboardInterrupt:

In [ ]:
#checking first 5 rows of the data
df_ords_prods_merged.head()

In [ ]:
df_ords_prods_merged.shape

In [ ]:
df_customer.shape

# WRANGLING THE CUSTOMER DATASET

In [ ]:
#Checking for the descriptives 
df_customer.describe()

In [ ]:
df_customer.info()

In [ ]:
#checking for blank values
df_customer['Gender'].value_counts(dropna = False)

## blank values spotted in gender column

In [ ]:
#checking the state column 
df_customer['STATE'].value_counts(dropna = False)

In [ ]:
#checking the age column
df_customer['Age'].value_counts(dropna = False)

In [ ]:
#checking the fam_status column
df_customer['fam_status'].value_counts(dropna = False)

In [ ]:
#checking the income column
df_customer['income'].value_counts(dropna = False)

## changing some column headers for uniformity and easy reading

In [ ]:
#State name is changed into smaller caps
df_customer.rename(columns = {'STATE' : 'State'}, inplace = True)

In [ ]:
#dependents column name chanaged 
df_customer.rename(columns = {'n_dependants' : 'number_of_dependants'}, inplace = True)

In [ ]:
#fam status column name changed 
df_customer.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

In [ ]:
#Gender column name changed 
df_customer.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [ ]:
#Surnam column name changed 
df_customer.rename(columns = {'Surnam' : 'Surname'}, inplace = True)

In [ ]:
#checking changes made 
df_customer.head()

In [ ]:
#changing the data type of user id to string 
df_customer['user_id'] = df_customer['user_id'].astype('str')

In [ ]:
#changing the data type of user id to string in the ords_prods_merged df
df_ords_prods_merged['user_id'] = df_ords_prods_merged['user_id'].astype('str')

In [ ]:
#checking the data set of the user id
df_customer['user_id'].dtype

## These data type changes are made in recognition of a key variable

In [ ]:
df_ords_prods_merged['user_id'].dtype

In [ ]:
#checking for missing values in customer data set
df_customer.isnull().sum()

In [ ]:
df_customer['First Name'].value_counts(dropna = False)

In [ ]:
#checking for duplicates
df_dups = df_customer[df_customer.duplicated()]

In [ ]:
df_dups

In [ ]:
df_ords_prods_merged.info()

In [ ]:
#The merged column showing here must be dropped
df_ords_prods_merged = df_ords_prods_merged.drop(columns = ['_merge'])

## This result indicates a no duplicate

# MERGING THE TWO DATA SET

In [ ]:
#making a subset of nan values in first name
df_nan_1 = df_customer[df_customer['First Name'].isnull() ==True]

In [ ]:
#checking it out
df_nan_1

In [ ]:
# seeing the total number in original df
df_customer.shape

In [ ]:
#making a new DF dropping the Nan values
df_customer_clean = df_customer[df_customer['First Name'].isnull()==False]

In [ ]:
# checking the rows to make sure it is 11259 less -- it is!
df_customer_clean.shape

## MERGING DONE USING THE USER ID WHICH IS UNIQUE FOR BOTH DATA SET

In [ ]:
# merging of the new customers df to ords prods merged df
df_merged_clean = df_customer_clean.merge(df_ords_prods_merged, on = 'user_id', indicator = True)

In [ ]:
df_merged_clean.head()

## we would have to drop the merged column

In [ ]:
#dropping the merge column
df_merged_clean = df_merged_clean.drop(columns = ['_merge'])

In [ ]:
#exporting as plk for efficiency sake
df_merged_clean.to_pickle(os.path.join(path,'02. DATA','PREPARED DATA','orders_products_all_aggregated.pkl'))